@model CurrencyAppUI.Models.UserViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container-fluid">
    <h2>Profile</h2>
    <div class="justify-content-center align-items-center">
      <div class="rounded-circle shadow"></div>
        <h3>@Model.UserTag</h3>  
    </div>
    <div class="justify-content-center align-items-center">
       
    </div>
 
</div>

