@model CurrencyAppUI.Models.UserDepositRequest
@{
    
}

<div class="container">
    <form asp-controller="DepositCurrency" asp-action="UserDepositCurrency" method="Post">
        <h2>Deposit @Model.currencyTag</h2>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@Model.currencyTag</span>
            </div>
        </div>
        
        <div class="input-group mb-3">
            <input type="number" asp-for="Amount" class="form-control" placeholder="amount" />
            <input type="text" class="form-control" disabled value="@Model.currencyTag" />
            <input type="hidden" asp-for="currencyTag" value="@Model.currencyTag" />
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>




